.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.loading {
  display: block;
  margin: 50px auto;
  text-align: center;
}

.projects-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.project-wrapper {
  /* max-width: 420px; */
  /* width: 420px; */
}

.project-cover-image {
  margin: 0 auto;
  height: 250px;
  width: auto;
}

.project-desc {
  max-width: 75%;
  margin: 10px auto;
}


