// have to make use of inline styles (styles object) in AllProjectsPage
// to hide/show since JS logic depends on style prop of targeted 
// element, not CSS

// .filters-wrapper {
//   display: none;
// }

.project-card-wrapper {
  background-color: lightgray;
  text-decoration: none;
  width: 100%;
  align-items: center;
  margin: 10px auto;
  padding: 20px;
}

.project-title {
  margin-top: 0;
  font-size: 20px;
}

.project-desc {
  font-size: 14px;
}

.project-title,
.project-cover-image-link,
.project-desc {
  text-align: center;
}

.project-cover-image {
  height: 250px;
  width: 100%;
  max-width: 400px;
}

.project-tags {
  padding-left: 0;
  margin: 0;
}

.project-tags li {
  list-style-type: none;
  background-color: white;
  margin: 10px 4px;
  padding: 6px;
  width: 65px;
  border: 2px solid black;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
  .project-card-wrapper {
    width: 35%;
  }
  .project-title {
    font-size: 24px;
  }
  .project-desc {
    font-size: 16px;
  }

  .project-tags li {
    width: 75px;
    font-size: 12px;
    margin: 10px 5px;
  }
}
