.project-card-wrapper {
  color: black;
  text-decoration: none;
}

.project-desc {
  width: 65%;
}

.project-cover-image {
  height: 250px;
  width: 100%
}

.project-tags {
  padding-left: 0;
  display: flex;
}

.project-tags li {
  list-style-type: none;
  margin-right: 10px;
  padding: 10px 15px;
  border: 2px solid lightgray;
  font-size: 12px;
  text-decoration: none;
}

// .project-desc {
//   max-width: 75%;
//   margin: 10px auto;
// }
