.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.all-filters {
  display: flex;
  flex-direction: column;
  column-count: 2;
}

.filter-item {
  width: auto;
}
