.home-page-wrapper {
  .about-section {
    background: linear-gradient(#E5E5E5, #C9C9C9);
  }

  .portfolio-section {
    background: linear-gradient(#C9C9C9, #AEAEAE);
  }

  .services-section {
    background: linear-gradient(#AEAEAE, #838383);
  }

  .contact-form-section {
    background: linear-gradient(#838383, #3A3A3A);
  }
}
